<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script>

        var benimapp = angular.module("myapp",[]);

        benimapp.controller("mycontrol",function($scope){

            $scope.veriler=[{"mesaj":"mehmet","durum":false},
                {"mesaj":"merhaba nasılsın sen","durum":false},
                {"mesaj":"iyiler dedik","durum":false},
                {"mesaj":"yuvarlanıyoruz","durum":false},
                {"mesaj":"hopala mesele dedik","durum":false}];

            $scope.silinenler=[];

            $scope.kaldir=function(){

                $scope.toplam=$scope.veriler.length;

                for(a=0; a<$scope.toplam; a++) {


                    $scope.veriler[a].durum=false;


                }


            }
            $scope.sec=function(){

                $scope.toplam=$scope.veriler.length;

                for(a=0; a<$scope.toplam; a++) {

                    $scope.veriler[a].durum=true;
                }

            }

            $scope.sil=function(){


                $scope.silinenler=$scope.veriler.filter(function(a){

                    return a.durum==true;

                });

                $scope.veriler=$scope.veriler.filter(function(a){

                    return a.durum==false;

                });


            }




        });

    </script>

    <style>


    </style>

</head>
<body ng-app="myapp" ng-controller="mycontrol">


<button ng-click="sil()">sil</button>
<button ng-click="sec()">hepsini seç</button>
<button ng-click="kaldir()">hepsini kaldır</button>

<div ng-show="veriler.length==0">silinecek içerik bulunmamaktadır</div>

<hr>

<ul>
    <li ng-repeat="veri in veriler"><input type="checkbox" ng-model="veri.durum"/> {{veri.mesaj}}</li>
</ul>

<hr>

<div ng-show="silinenler.length>0">
    <h1>silinenler</h1>

    <ul>
        <li ng-repeat="silinen in silinenler">{{silinen.mesaj}}</li>
    </ul>

</div>

</body>
</html>